Problem statement
The values in the salary column of the staff (DataFrame) are stored as a string. We need to convert it to a numerical format to make calculations.

There are two issues that we need to solve before converting it to a numerical data type.

We need to remove the “$” sign at the beginning.
We need to remove the “,” used as the thousands separator.

In [21]:
import pandas as pd

staff = pd.read_csv("staff.csv")

# staff["salary_cleaned"] = (staff["salary"].str.replace("$",""))
# staff["salary_cleaned"] = staff["salary_cleaned"].astype('int')
# list(staff["salary_cleaned"])


staff["salary_cleaned"] = staff["salary"].str[1:].str.replace(",","") # Write your solution here
staff["salary_cleaned"] = staff["salary_cleaned"].astype("int")
list(staff["salary_cleaned"])

[65000, 70000, 58500, 49500, 62000, 54500]

In [12]:
staff

# staff["salary_cleaned"] = (staff["salary"].replace("$"," "))  won't work because str is not mentioned

,name,city,date_of_birth,start_date,salary,department,salary_cleaned
0,John Doe,"Houston, TX",1998-11-04,2018-08-11,"$65,000",Accounting,"65,000"
1,Jane Doe,"San Jose, CA",1995-08-05,2017-08-24,"$70,000",Field Quality,"70,000"
2,Matt smith,"Dallas, TX",1996-11-25,2020-04-16,"$58,500",human resources,"58,500"
3,Ashley Harris,"Miami, FL",1995-01-08,2021-02-11,"$49,500",accounting,"49,500"
4,Jonathan targett,"Santa Clara, CA",1998-08-14,2020-09-01,"$62,000",field quality,"62,000"
5,Hale Cole,"Atlanta, GA",2000-10-24,2021-10-20,"$54,500",engineering,"54,500"


(Select all that apply) Which is the correct expression for selecting the first three characters of a string?

In [22]:
str[:3]

str[0:3]

TypeError: type 'str' is not subscriptable

(Select all that apply) How can we remove the % sign from the following string?

95.40%

In [ ]:
str.replace("%","")

str[:-1]

Which method is used for making only the first letter of a string uppercase?

In [ ]:
capitalize