# The <font color='red'>DateOffset</font> function

One Pandas function we can use to <u>add or subtract dates and times</u> is <font color='red'>DateOffset</font>. It can be used with both dates and times. We only need to specify the unit and quantity to be added or subtracted. Consider a case where we want to give a raise to our employees one year after they’re hired. In the staff, we can create a column called <font color='red'>raise_date</font> by adding one year to the <font color='red'>start_date</font> column.

In [6]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# create raise_date column
staff["raise_date_from_start"] = staff["start_date"] + pd.DateOffset(years=1)

print(staff[["start_date","raise_date_from_start"]].head())

  start_date raise_date_from_start
0 2018-08-11            2019-08-11
1 2017-08-24            2018-08-24
2 2020-04-16            2021-04-16
3 2021-02-11            2022-02-11
4 2020-09-01            2021-09-01

In [7]:
staff

,name,city,date_of_birth,start_date,salary,department,raise_date_from_start
0,John Doe,"Houston, TX",1998-11-04,2018-08-11,"$65,000",Accounting,2019-08-11
1,Jane Doe,"San Jose, CA",1995-08-05,2017-08-24,"$70,000",Field Quality,2018-08-24
2,Matt smith,"Dallas, TX",1996-11-25,2020-04-16,"$58,500",human resources,2021-04-16
3,Ashley Harris,"Miami, FL",1995-01-08,2021-02-11,"$49,500",accounting,2022-02-11
4,Jonathan targett,"Santa Clara, CA",1998-08-14,2020-09-01,"$62,000",field quality,2021-09-01
5,Hale Cole,"Atlanta, GA",2000-10-24,2021-10-20,"$54,500",engineering,2022-10-20

The <font color='red'>DateOffset</font> function is quite simple. We only need to adjust the unit and quantity. For instance, the following line of code adds six months to the <font color='red'>start_date</font> column.

In [5]:
print(staff["start_date"] + pd.DateOffset(months=6))

0   2019-02-11
1   2018-02-24
2   2020-10-16
3   2021-08-11
4   2021-03-01
5   2022-04-20
Name: start_date, dtype: datetime64[ns]

The units that can be used in the <font color='red'>DataOffset</font> function are:

1. <font color='red'>years</font>
2. <font color='red'>months</font>
3. <font color='red'>weeks</font>
4. <font color='red'>days</font>
5. <font color='red'>hours</font>
6. <font color='red'>minutes</font>
7. <font color='red'>seconds</font>
8. <font color='red'>microseconds</font>
9. <font color='red'>nanoseconds</font>

We have two options for subtraction instead of addition. One is to change the <font color='red'>+</font> to <font color='red'>-</font> and the other is to use a negative quantity inside the function. Let’s create a <font color='red'>Timestamp</font> and subtract two hours from it using both methods.

In [11]:
import pandas as pd

mytime = pd.Timestamp("2021-12-14 16:50:00")

print("The first method")
print(mytime + pd.DateOffset(hours=-2))

print("\nThe second method")
print(mytime - pd.DateOffset(hours=2))

print("")
print(mytime - pd.DateOffset(minutes=2))

The first method
2021-12-14 14:50:00

The second method
2021-12-14 14:50:00

2021-12-14 16:48:00

# The <font color='red'>Timedelta</font> function

Another option to add and subtract dates and times is the <font color='red'>Timedelta</font> function. Note that the Timed<font color='red'>Timedelta</font>elta function doesn’t support <font color='red'>year</font> and <font color='red'>month</font> units anymore, but we can use it with other durations.

Its use is similar to the <font color='red'>DateOffset</font> function, but the parameters are set differently. The  <font color='red'>value</font> parameter is used to specify the number of units to be added or subtracted. The  <font color='red'>unit</font> parameter defines the unit of time, such as hour and minute. The following values can be used with the  <font color='red'>unit</font> parameter:

1.  <font color='red'>W</font> and  <font color='red'>w</font> represent a week
2.  <font color='red'>D</font> and  <font color='red'>d</font> represent a day
3.  <font color='red'>H</font> and  <font color='red'>h</font> represent an hour
4.  <font color='red'>T</font> and  <font color='red'>t</font> represent a minute
5.  <font color='red'>S</font> and  <font color='red'>s</font> represent a second
6.  <font color='red'>L</font> and  <font color='red'>l</font> represent a millisecond
7.  <font color='red'>U</font> and  <font color='red'>u</font> represent a microsecond
8.  <font color='red'>N</font> and  <font color='red'>n</font> represent a nanosecond

Let’s try an example that adds 12 weeks to the  <font color='red'>start_date</font> column in the staff with the  <font color='red'>Timedelta</font> function.

In [13]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# add 12 weeks
print(staff["start_date"] + pd.Timedelta(value=12, unit="W"))

0   2018-11-03
1   2017-11-16
2   2020-07-09
3   2021-05-06
4   2020-11-24
5   2022-01-12
Name: start_date, dtype: datetime64[ns]

One nice feature of the <font color='red'>Timedelta</font> function is that it accepts strings for specifying the duration to be added or subtracted. To use this format, both the value and unit are written as a single string. We simply need to write the unit, as with the unit parameter. Let’s do the same example as above but with a string.

In [14]:
import pandas as pd

# create the DataFrame
staff = pd.read_csv("staff.csv")

# change the date type
staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})

# add 12 weeks
print(staff["start_date"] + pd.Timedelta("12 W"))

0   2018-11-03
1   2017-11-16
2   2020-07-09
3   2021-05-06
4   2020-11-24
5   2022-01-12
Name: start_date, dtype: datetime64[ns]

To subtract a date or time value using the Timestamp function, we can either change the + to - or use a negative quantity inside the function.