# Problem statement
The staff contains the start_date and date_of_birth columns. Weâ€™re asked to find the age of employees at the time they were hired in years. For instance, if an employee was born in 1991 and started working in 2021, then the answer should be 30.

In [2]:
import pandas as pd

staff = pd.read_csv("staff.csv")

staff

,name,city,date_of_birth,start_date,salary,department
0,John Doe,"Houston, TX",1998-11-04,2018-08-11,"$65,000",Accounting
1,Jane Doe,"San Jose, CA",1995-08-05,2017-08-24,"$70,000",Field Quality
2,Matt smith,"Dallas, TX",1996-11-25,2020-04-16,"$58,500",human resources
3,Ashley Harris,"Miami, FL",1995-01-08,2021-02-11,"$49,500",accounting
4,Jonathan targett,"Santa Clara, CA",1998-08-14,2020-09-01,"$62,000",field quality
5,Hale Cole,"Atlanta, GA",2000-10-24,2021-10-20,"$54,500",engineering

In [13]:
import pandas as pd

staff = pd.read_csv("staff.csv")

staff = staff.astype({
    "date_of_birth": "datetime64[ns]",
    "start_date": "datetime64[ns]"
})
# staff["age"] = staff["start_date"].dt.year - staff["date_of_birth"].dt.year
staff["age"] = (staff["start_date"] - staff["date_of_birth"]).dt.days/365
staff["age"] = staff["age"].astype("int")
print(list(staff["age"]))

[19, 22, 23, 26, 22, 21]

Exact year is needed, hence.