## Problem statement
We have the following DataFrame with two columns and ten rows. We want to fill the missing values in the measurement column with their previous values, but weâ€™re only allowed to fill two consecutive values with this method. The remaining ones need to be filled with the average value of the column.

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "Date": pd.date_range(start="2021-10-01", periods=10),
    "Measurement": [16, 13, 14, 12, np.nan, np.nan, np.nan, 8, 7, 5]
})

# def fill_missing_values():
#   try:
#     '''
#     # Write your solution here
#     # Write your solution here
#     return list(df["Measurement"])
#     '''
#   except:
#     pass
df

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05          NaN
5 2021-10-06          NaN
6 2021-10-07          NaN
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0

In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    "Date": pd.date_range(start="2021-10-01", periods=10),
    "Measurement": [16, 13, 14, 12, np.nan, np.nan, np.nan, 8, 7, 5]
})

def fill_missing_values():
  try:
    
    df.fillna(method="ffill", limit=2, inplace=True)
    df.fillna(value=df["Measurement"].mean(), inplace=True)
    return list(df["Measurement"])
    
  except:
    pass

How can we check the number of missing values in each column of a DataFrame?

In [ ]:
isna().sum()

How can we drop the rows that only have missing values?

In [ ]:
df.dropna(how="all", inplace=True)

Suppose we have a DataFrame called df that contains ten columns. We want to drop the rows that have more than four missing values. Which of the following options perform this task?

In [ ]:
df.dropna(thresh=6, inplace=True)

We have ten columns and want to drop the rows that have more than four missing values. Thus, a row needs to have at least six non-missing values not to be dropped.